.logo-container {
    display: flex;
}

.logo {
    height: 120px;
    width: 120px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}