body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 5%, #7ee8fa 80%);
  background-attachment: fixed;
}

button {
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}

.form-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 40px;
  left: 0;    
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  flex-direction: column;
}